
.field {
    width: 600px;
    height: 800px;

}
#cat {
    display: block;
    width: 100%;
    background-color:#4299e1 ;
}

#fairy {
    width: 78px;
    height: 86px;  
    background-image: url(image/img.png);
    position: relative;
    top: 150px;
    left: 20px;
    /* animation: fairymov 2s infinite linear; */
}
@keyframes fairymov {
    0%{
        left: 20px;
    }
    100%{
        left: +600px;
    }
}
.jump {
    animation: jump 0.5s linear;
}
@keyframes jump {
    0%{
        top: 150px;
    }
    30%{
        top:130px;
    }
    50%{
        top:80px;
    }
    80%{
        top:130px;
    }
    100%{
        top: 150px;
    }
}
